
html, body, #root {
  height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body { 
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif; 
  background: var(--bg);
  overflow-x: auto;
  overflow-y: hidden;
}
aside  { grid-area: aside;  }
header { grid-area: header; }
.main{ grid-area: main; }

.app {
  width: 100%;
  height: 100vh;
  min-width: 1800px;
  display: grid;
  grid:
  "aside main" 1fr
  / 240px 1fr;
  overflow: hidden;
}
