.background {
    padding: 12px; /* margin 대신 padding 사용 */
    gap: 12px;
    height: 100%; /* 부모 컨테이너 높이에 맞춤 */
    display: flex;
    flex-direction: column;
    overflow: auto; /* 스크롤 허용 */
    padding-top: 120px; 
  }

.card {
padding: 20px 20px 10px;
/* height: 500px;
width: 100%; */
border: 1px solid var(--border);
background-color: var(--panel);
border-radius: 3px;
box-shadow: var(--shadow);
display: flex;
flex-direction: column;
}

.highlight {
  border: 2px solid var(--brand);
  box-shadow: 0 0 10px rgba(74, 144, 226, 0.5);
}
